body {
  background: url("img/sushibackground.jpg") no-repeat fixed;
  background-size: cover; }

.container {
  background-color: #f1f3f3; }

/* XS screens */
/* sm screens */
/* md screens */
/* lg screens */
